body {
    background: linear-gradient(135deg, #bd11bd 0%, #a20fa2 25%, #7a0d7a 50%, #5c0a5c 75%, #3d063d 100%);
    text-align: center;
    min-height: 100vh;
}

article {
    border-radius: 5px;
    background-color: white;
    margin: 0 auto;
    width: 700px;
}

footer {
    border-top: 10px;
    border-radius: 10px;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #333;
    padding: 20px;
    z-index: 100;
}

button {
    color: black;
}

footer{
    width: 100%;  
    background-color: #222;
    border-top: 0.1rem;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    padding: 1rem;
    color: white;
    box-sizing: border-box;
}

footer a{
    float: rigth;
}

@media (max-width: 480px) {
    article {
        width: 400px;
    }
}