body {
    background: linear-gradient(135deg, #bd11bd 0%, #7a0d7a 50%, #3d063d 100%);
    text-align: center;
    min-height: 100vh;
}

.next {
    width: 20px;
    height: 10px;
    margin: 0 auto;
}